.u {
    color:#1562ff;
    font-size:60px;
}
.tex {
    font-size:30px;
    display:block;
    background-color:#0081ff9f;
    border-top:10px solid #1100ff;
    border-right:10px solid #1100ff;
}
.zad {
    color:#ff1515;
    font-style:italic;
}
.Scratching {
    font-size:20px;
}
.reference {
    color:#000000;
}
#box {
    display:inline-block;
    background-color:#0081ff9f;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    border-top:20px solid #1100ff;
    border-right:20px solid #1100ff;
    
}
.mail {
    font-size:30px;
}
.mail1{
    color:#1100ff;
}
#poshta {
    background-color:#ff559e;
    padding-left:20px;
    border-top:10px solid #aa004d;
    border-right:10px solid #aa004d;
}
#image1 {
    width:170px;
    height:170px;
}
#image2 {
    width:170px;
    height:170px;
}
.lox {
    font-size:1px;
}
